<%# app/views/achievements/create.turbo_stream.erb %>
<%# 達成ボタンを更新 %>
<%= turbo_stream.replace "achievement_button_#{@post.id}" do %>
  <div id="achievement_button_<%= @post.id %>">
    <%= render "achievements/button", post: @post %>
  </div>
<% end %>

<%# レコメンドモーダルを表示 %>
<%= turbo_stream.update "recommendation_modal" do %>
  <%= render "recommendations/modal", post: @post, recommended_posts: @recommended_posts %>
<% end %>
