<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title><%= content_for(:title) || "ActionSpark" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%# Tailwind を先に、Application を後に %>
    <%= stylesheet_link_tag "tailwind",     "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>

  </head>

  <body class="min-h-screen bg-gray-50 flex flex-col">
    <%= render "shared/header" %>
    <%= render "shared/flash_messages" %>


    <main class="flex-1">
      <%= yield %>
    </main>

    <%= render "shared/footer" %>
  </body>
</html>
