<!DOCTYPE html>
<html lang="ja">

  <head>
    <%= display_meta_tags(default_meta_tags) %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%# Tailwind を先に、Application を後に %>
    <%= stylesheet_link_tag "tailwind",     "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>

    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-109R2FXJBS"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-109R2FXJBS');
    </script>
  </head>

  <body class="min-h-screen bg-gray-50 flex flex-col">
    <%= render "shared/header" %>
    <%= render "shared/flash_messages" %>


    <main class="flex-1">
      <%= yield %>
    </main>

    <%= render "shared/footer" %>
  </body>
</html>
